@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 232, 232);

  a {
    text-decoration: none;
    color: inherit;
  }
}

.app {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  gap: 20px;
  background-color: rgb(192, 203, 219);
  border: 1px solid lightgray;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  flex: 5;
  border: 1px solid lightgray;

  @include mobile {
    flex: 1;
  }
}
